#include <winver.h>
#include "resource.h"

// Icon index 0 is used by the TSF profile registration
IDI_TORAIME ICON "toraime.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041104b0"
    BEGIN
      VALUE "FileDescription", "toraIME Japanese Input Method"
      VALUE "FileVersion", "0.1.0"
      VALUE "InternalName", "toraime"
      VALUE "OriginalFilename", "toraime.dll"
      VALUE "ProductName", "toraIME"
      VALUE "ProductVersion", "0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0411, 1200
  END
END
